<form action="/coin_combination">

  <div class="form-group">
    <label for="user_change">Please enter an amount in cents.</label>
    <input type="text" name="user_change" class="form-control">
  </div>
  <button class="btn btn-success" type="submit">Submit</button>

</form>
